s# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/plonetheme
var/
htmlcov/
build/
dist/
.coverage
*.log
output.xml
*.egg-info/
.installed.cfg
*.egg

rules.orig.xml
rules.dev.xml
index.orig.html
index.dev.html