// ================
// MIXIN
// ================
@mixin font-lora(){
	font-family: 'Lora', 'Times New Roman', serif;
}
@mixin font-opensans(){
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


// ===============
// PORTLETS
// ===============

aside{
	section{
		border: 2px solid #777777;
		// border-radius: 2%;

	}
	.portlet--heading{
		@include font-opensans();
		font-weight: 600 !important;
		padding: 15px 20px;
		background: #777;
		color: #fff;
		border-bottom: 2px solid #777777;

	}
	.portlet--item{
		margin: 15px auto;
		li{
			padding: 5px;
		}

	}
	.portlet--content{
		padding: 15px 10px;
		input{
			margin: 5px auto;
		}
		input[type=submit]{
			@include font-opensans();
			color: #fff;
			background: #222;
			border: 2px solid #222;
			text-transform: uppercase;
			font-size: 16px;
			padding: 5px 10px;
		}
	}
	.portlet--footer{
		font-size: 16px;
		background: #eee;
		padding: 10px 20px;
		border-top: 2px solid #777777;
	}
}


// ===============
// TEST-CONTENT
// ===============

.test-content{

	.documentFirstHeading{
		// padding-bottom: 15px;
		margin-bottom: 0px;
		margin-top: 30px;
		font-size: 36px;
	}
	.documentByLine{
		color: #808080;
		font-size: 18px;
		font-style: italic;
		margin-top: 0;
	}
	.documentDescription{
		@include font-opensans();
		font-size: 24px;
		font-weight: 300;
		margin: 0;
		margin-bottom: 10px;
	}
	.table-bordered{
		border: 1px solid #777777;
	}
}